#title {
    position: relative;
    color:  blue;
    font-size:30px;
    font-family: "M PLUS Rounded 1c";
    text-align: center;
}
#main{
   text-align:center;
   background-color:blue;
   color:white;
   background-image:url("https://www.transparenttextures.com/patterns/3px-tile.png");
}
#link{
    background-color:#1e90ff;
    color:white;
}
#body{
    background-color:#40e0d0;
}