#title{
    text-align:center;
    font-size:30px;
    background-color:#f0e68c;
}
#main{
    text-align:center;
}
#soft{
    background-color:#f4a460;
}
#main2{
    font-size:30px;
}
#hard{
    background-color:#fffacd;
}