#title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: cadetblue;
    color:white;
    font-size:30px;
    background-image:url("https://www.transparenttextures.com/patterns/3px-tile.png");
}
#image1{
    text-align:center;
}
#tokiwa{
    color:red;
}
#body{
    color:white;
    background-color:#90ee90;
    background-image:url("https://www.transparenttextures.com/patterns/3px-tile.png");
}