#title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: cadetblue;
    color:white;
    font-size:30px;
}
#month6{
    height:auto;
}
#month7{
    height:auto;
}
#month8{
    height:auto;
}
#month10{
    height:auto;
}
#month11{
    height:auto;
}
#month12{
    height:auto;   
}
#tokiwa{
    color:red;
}
#body{
    background-color:#90ee90;
}